/Cine.class
/Entrada.class
/EntradaDiaEspectador.class
/Genero.class
/Pelicula.class
/PruebaPelicula.class
/PruebaSesion.class
/Sala.class
/Sesion.class
/PruebaSala.class
/PruebaCine.class
/EntradaDescuento.class
/Descuento.class
